html{
    background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
    overflow: none;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
}
#content{
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 50px;
    border-radius: 5px;

    background-color: #D8DFE0;
    box-shadow: 1px 1px 10px rgba(0,0,0,30%);

    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -300px;
    top:50%;
    margin-top: -200px;
    font-family: Quicksand;
}
#photo{
    width:150px;
    border-radius: 50%;
}
#name{
    margin-top: 20px;
}
#email{
    text-decoration: none;
    color: #007bff;
}
#email:hover{
    text-decoration: none;
    color: #1F434B;
}
#webgeng{
    margin-bottom: 25px;
    text-decoration: none;
    color: #007bff;
}
.link{
    margin-top: 40px;
	text-decoration: none;
	color: #007bff;
}
.link:hover{
	text-decoration: none;
    color: #1F434B;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #html {
        font-size: 30px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #html {
        font-size: 40px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #html {
        font-size: 50px;
}
}